.Centered {
  margin: auto;
}

.CenterElems {
  text-align: center;
  margin: 1rem;
}

.button {
  height: 3rem;
  width: 9rem;
  background: chartreuse;
  color: white;
  border-radius: 10px;
}

.banner {
  font-style: oblique;
}

.input {
  border: 2px solid black;
  border-radius: 5px;
}
